{{define "title"}}Create a New Snippet{{end}}

{{define "main"}}
<form action="/snippet/create" method="post">
    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}" />
    <div>
        <label for="title">Title:</label>
        {{with .Form.FieldErrors.title}}
            <label class="error">{{.}}</label>
        {{end}}
        <input type="text" id="title" name="title" value="{{.Form.Title}}" required maxlength="100" />
    </div>
    <div>
        <label for="content">Content:</label>
        {{with .Form.FieldErrors.content}}
            <label class="error">{{.}}</label>
        {{end}}
        <textarea id="content" name="content" required>{{.Form.Content}}</textarea>
    </div>
    <fieldset>
        <legend>Deleted in:</legend>
        {{with .Form.FieldErrors.expires}}
            <label class="error">{{.}}</label>
        {{end}}
        <input type="radio" id="expires-year" name="expires" value="365" {{if (eq .Form.Expires 365)}}checked{{end}} />
        <label for="expires-year">One Year</label>
        <input type="radio" id="expires-week" name="expires" value="7" {{if (eq .Form.Expires 7)}}checked{{end}} />
        <label for="expires-week">One Week</label>
        <input type="radio" id="expires-day" name="expires" value="1" {{if (eq .Form.Expires 1)}}checked{{end}} />
        <label for="expires-day">One Day</label>
    </fieldset>
    <div>
        <input type="submit" value="Create Snippet" />
    </div>
</form>
{{end}}
